@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}
p {
  z-index: 1;
}

.tb-r {
  border: 1px solid red;
}

.tb-b {
  border: 1px solid blue;
}

.tb-g {
  border: 1px solid green;
}

.taurus_inner {
  width: 100%;
  padding: 0 10px;
}

@media screen and (min-width: 1200px) {
  .taurus_inner {
    width: 1200px;
    padding: 0;
  }
}

.color_main_bg {
  background-color: #13293d;
}

.color_main_c {
  color: #13293d;
}

.color_main_border {
  border-color: #13293d;
}

.color_sub_c {
  color: #247ba0;
}

.color_sub2_c {
  color: #006494;
}

.color_sub2_bg {
  background-color: #006494;
}

.color_gray {
  color: #e8f1f2;
}
